# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# AMap (高德地图)
NEXT_PUBLIC_AMAP_KEY=21a86f420ac2cb8b6d686c153ef1e497
NEXT_PUBLIC_AMAP_SECURITY_KEY=432a8c672ebdf8818253a819446d54ef
